MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_SERVER=localhost
MYSQL_PORT=3306
MYSQL_DB=VehicleParking

MAILGUN_USERNAME=
MAILGUN_PASSWORD=
MAILGUN_FROM=no-reply@yourdomain.com
MAILGUN_PORT=587
MAILGUN_SERVER=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE=

STRIPE_API_KEY=
STRIPE_SUCCESS_URL='http://localhost:3000/payment/success?session_id={CHECKOUT_SESSION_ID}'
STRIPE_CANCLE_URL='http://localhost:3000/payment/cancle?session_id={CHECKOUT_SESSION_ID}'
ADMIN_SECRET_PASSWORD=
